@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <form id="GenreForm" method="post" asp-controller="Admin" , asp-action="@ViewBag.Acctionfor" asp-route-Id="@ViewBag.Id">
                @Html.AntiForgeryToken()
                <p>@ViewBag.Titlemodal</p>
                <input class="input is-primary" type="text" name="name" placeholder="Enter up" required>


            </form>
            <button onclick="SubForm()" class="button is-success">SAVE</buttononsubmit="SubForm(e)">
        </div>
        <button class="modal-close is-large" onclick="closemodel()" aria-label="close"></button>
 
</div>
<script>
    var closemodel = function () {
        $('.modal').removeClass('is-active');
    }
    function SubForm() {
       
       $.ajax({
           url: '@Url.Action("updateGenre", "Admin",new { Id= @ViewBag.Id })',
        type: 'post',
           data: $('#GenreForm').serialize(),
        success: function(data){
            alert(data.msg);
        }
    });
}
    //$("#GenreForm").submit(function (e) {

    //    e.preventDefault();
    //    var form = $(this);
    //    var url = form.attr('action');
    //    $.ajax({
    //        type: "POST",
    //        url: url,
    //        data: form.serialize(),
    //        async: true,
    //        success: function (data) {
    //            alert(data.msg);
    //        }
    //    });


    //});
    //}

</script>
