@using webtruyentranh.Viewmodels;
@model EditProfile_Viewmodel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layoutpage";
}
<link href="~/css/backgroundeditprofile.css" rel="stylesheet" />
<link href="~/css/profile.css" rel="stylesheet" />
<main role="main" class="pb-3" style="margin-top: 150px;  height:1000px; ">
    <section class="ftco-section" style="height: 500px;">
        <form method="post" asp-action="editprofile" asp-controller="profile" asp-route-Id="@Model.Id" enctype="multipart/form-data">
            <div class="columns is-mobile" style="background-color: white; border-radius:30px; height:900px;  ">
                <div class="column is-5 ">
                    <div class="block" style="text-align:center; width:100%; height:30%;">
                      
                            <img id="avatar-recent" style=" width: 45%; height: 90%; border-radius: 50%; border: 3px solid #888; " src="@ViewBag.recentavt ">
                    
                        <div class="field" style="margin-top:20px;">
                            <div class="control">
                                <button class="button profile-button-edit btn-upload-avatar ">
                                    <input type="file" class="file-input" asp-for="Avartar" onchange="loadFile(event)" /> Edit avatar
                                </button>
                            </div>
                        </div>
                    </div>

                        @*<div class="file">
                <label class="file-label">
                    <input class="file-input" asp-for="Avartar" onchange="loadFile(event)">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Upload avatar
                        </span>
                    </span>
                </label>
            </div>*@
                        <div class="block " style="margin-top:30px;">
 

                            <p class="subtitle is-3">@Model.DisplayName</p>
                            <p class="subtitle is-5">@Model.Description</p>
                            <p class="subtitle is-5">Date join: @Model.Datejoined</p>




                        </div>
                    </div>
                    <div class="column">

                        <div class="field">
                            <div class="control">
                                <button class="button profile-button-edit " style="float: right; width: 20%; margin:10px; position:sticky; height:15%;">SAVE</button>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Display Name</label>
                            <div class="control">
                                <input class="input is-danger is-medium" type="text" asp-for="DisplayName" placeholder="@Model.DisplayName">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">External Link</label>
                            <div class="control">
                                <input class="input is-danger is-medium" asp-for="ExternalLink" type="text" placeholder="Enter your External Link such as: facebook,google..." value="@Model.ExternalLink">
                            </div>
                        </div>
                        <div class="field ">
                            <label class="label">About me</label>
                            <div class="control">
                                <textarea class="textarea is-danger" asp-for="Description" placeholder="@Model.Description"></textarea>
                            </div>
                        </div>

                        <div class="field ">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="@Model.Email" disabled>
                            </div>
                        </div>


</form>


        </div>

        </div>
    </section>
</main>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('avatar-recent');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) 
        }
    };
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
