@model WebTruyenTranhDataAccess.Models.Message;
@inject UserManager<Account> userManager;

@{

    Layout = "_Layoutpage";
    var disable = "disabled";
    var islocked = false;
    @if (await userManager.IsLockedOutAsync(ViewBag.profile.Account))
    {
        islocked = true;
    }


}

<link href="~/css/profile.css" rel="stylesheet" />

<main role="main" class="pb-3" style="margin-top: 150px; ">

    <section class="ftco-section">
        <div class="columns  is-desktop">
            <div class="column is-3 " style="margin-right:25px; ">
                <figure style="height:300px; width:100%;">
                    <img class="is-rounded" src="@ViewBag.profile.Avartar" style="height:100%; width:100%; border-radius:50%;" />
                </figure>
                @if (await userManager.IsInRoleAsync(@ViewBag.profile.Account, "Admin"))
                {
                    <div class="title" style="color: white; background-color: aqua; margin-top: 20px; text-align: center; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none; -ms-user-select: none;  user-select: none; ">Administrator</div>
                }

                <h1 class="subheading" style="word-wrap: break-word; margin:30px 0px 0px 0px; font-size:36px; width: 100%;">@ViewBag.profile.DisplayName</h1>
                @if (!islocked)
                {

                    <p class="subheading" style="word-wrap: break-word; margin: 15px 0px 0px 0px; padding: 0; width: 100%; font-style: italic; ">date join: @ViewBag.profile.DateJoined</p>
                    <p class="subheading" style="word-wrap: break-word; margin: 15px 0px 0px 0px; padding: 0; width: 100%; font-style: italic; ">@ViewBag.profile.Description</p>
                    @if (!ViewBag.isMe)
                    {
                    }
                    else
                    {<a href='@Url.Action("EditProfile")' type="button" class=" button profile-button-edit" style="margin-top:15px;">Edit profile</a>
                    }
                }
                else
                {
                    <article class="message is-danger">
                        <div class="message-header">
                            <p>Account has been blocked</p>

                        </div>
                        <div class="message-body">
                            This account has been blocked because violating regulations
                        </div>
                    </article>

                }
            </div>
            <div class="column is-6 ">
                <form style=" width: 100%;" method="post" asp-action="Message" asp-controller="Profile" asp-route-ReturnUrl="@Context.Request.Path">
                    @Html.AntiForgeryToken()
                    <div class="control " style=" width: 100%;">
                        <input hidden value="@ViewBag.profile.Account.Id" name="Id" />
                        @*neu model valid *@
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="notification is-warning">
                                <span asp-validation-for="Content">
                                </span>
                            </div>
                        }
                        @if (islocked)
                        {
                            <textarea class="textarea is-medium" placeholder="Share something..." asp-for="Content" style="min-height:100px;" disabled></textarea>
                            <button class="button profile-button-ms" style="margin-top: 5px; float:right;" disabled>Share</button>
                        }
                        else
                        {
                            <textarea class="textarea is-medium" placeholder="Share something..." asp-for="Content" style="min-height:100px;" required></textarea>
                            <button class="button profile-button-ms" style="margin-top: 5px; float:right;">Share</button>
                        }
                    </div>
                </form>
                <!--comment block-->
                <div class="block" style="width: 100%; overflow: auto;">
                    @await Component.InvokeAsync("Firstloadmessage", new { Id = @ViewBag.profile.Account.Id, profileId = @ViewBag.profile.Id })
                </div>
            </div>
            <div class="column is-3">
                <h2 class="subtitle  is-2" style="text-align:center;">Mine novels</h2>

                @if (!@ViewBag.isany)
                {
                    <h6 class="subtitle  is-2" style="text-align:center; color:gray;">No novel </h6>
                }
                else
                {

                    foreach (var novel in ViewBag.profile.Account.Novels)
                    {

            <div class="box">

                <div class="columns">
                    <div class="column is-4"> <img src="@novel.BookCover" style=" height:80px; width:60px;"></div>
                    <div class="column ">   <h1 class="subtitle is-4">@novel.Title</h1></div>
    
                </div>
            </div>
                       
                    }
                }
            </div>
        </div>
    </section>
</main>