@model WebTruyenTranhDataAccess.Models.Message;
@{

    Layout = "_Layoutpage";


}
@using System.Web.Mvc.Html;




<main role="main" class="pb-3" style="margin-top: 150px; width: 90vw; ">

    <section class="ftco-section" style="height: 1200px;">
        <div class="row" style="width:100%">
            <div class="col-3 block-3  ftco-animate" style="height:300px; width:30%;" data-scrollax-parent="true">
                <div class="row" style="width:100%;">

                    <div class="block">
                        <a href="portfolio.html" class="image" style="background-image: url(@ViewBag.profile.Avartar); width: 100%;height: 120%; ">
                        </a>
                        <h1 class="subheading" style="word-wrap: break-word; margin:30px 0px 0px 0px; font-size:36px; padding :0; width: 100%">@ViewBag.profile.DisplayName</h1>
                        <p class="subheading" style="word-wrap: break-word; margin: 15px 0px 0px 0px; padding: 0; width: 100%; font-style: italic; ">date join: @ViewBag.profile.DateJoined</p>
                        <p class="subheading" style="word-wrap: break-word; margin: 15px 0px 0px 0px; padding: 0; width: 100%; font-style: italic; ">@ViewBag.profile.Description</p>
                        @if (!ViewBag.isMe)
                        {
                        }
                        else
                        {<a type="button" class="button is-primary is-outlined is-fullwidth" style="margin-top:15px;">Edit profile</a>
                        }


                    </div>

                </div>

            </div>
            <div class="col-6 block-3  ftco-animate" style="height:1000px; width:60%; " data-scrollax-parent="true">
                <div class="row" style="width:100%">

                    <form style=" width: 100%;" method="post" asp-action="Message" asp-controller="Profile">
                        <div class="control " style=" width: 100%;">
                            <input hidden value="@ViewBag.profile.Account.Id" name="Id" />
                            @*neu model valid *@

                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="notification is-warning">
                                    <span asp-validation-for="Content">

                                    </span>
                                </div>
                            }

                            <textarea class="textarea is-medium " placeholder="Send your message" style="min-height:100px;" asp-for="Content"></textarea>
                            <button class="button is-primary is-inverted is-medium" style="margin: 5px; float:right;">Send</button>

                        </div>
                    </form>

                    <!--comment block-->
                    <div class="block" style="width: 100%; overflow: auto;">

                        @*@await Component.InvokeAsync("Firstloadprofile")*@


                    </div>
                </div>
            </div>
            <div class="col-3 block-3  ftco-animate" style="height: 500px; width: 30%;" data-scrollax-parent="true">


                <h2 class="subtitle  is-2" style="text-align:center;">Mine novels</h2>
                @if (!ViewBag.isany)
                {
                    <h6 class="subtitle  is-2" style="text-align:center; color:gray;">No novel </h6>
                }
                else
                {

                    foreach (var novel in ViewBag.novels)
                    {
                        <div class="box row" style=" height:70px;">
                            novel.Title
                        </div>
                    }


                }




            </div>
        </div>
    </section>
</main>