@model UploadImage_Viewmodel
@{
    ViewData["Title"] = "UpdateNovel";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}

<link href="/css/styleCreateNovels.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet" />

<main>
    <section>

        <form method="post" asp-action="UpdateNovel" asp-controller="Novel" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form_item">
                    <div class="form_item_header">
                        <div class="header">
                            <b> Title</b>
                        </div>
                    </div>
                    <div class="item_info">
                        <input class="input is-rounded" type="text" asp-for="Title" maxlength="100" placeholder="@Model.Title" style="height:62px;padding:12px">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form_item">
                    <div class="form_item_header">
                        <div class="header">
                            <b> Description</b>
                        </div>
                    </div>
                    <div class="item_info">

                        <textarea rows="10" type="text" maxlength="1000" asp-for="Description" placeholder="@Model.Description" style="width:100%;border-radius:12px;padding:12px"></textarea>

                    </div>
                </div>
            </div>

            <div class="form_group_thumbnail">
                <div class="form_item_header">
                    <div class="header">
                        <b> Thumbnail</b>
                    </div>
                </div>

                <div class="item_info_thumbnail">

                    <div class="form_thumbnail">
                        <input id="img_load" asp-for="Thumbnail" class="input_thumbnail" type="file" multiple onchange="loadFileThumbnail(event)">
                        <img id="img-recent" src="@ViewBag.recentThumbnail" alt="" />
                        <label class="btn_upload" for="img_load">
                            Upload
                        </label>
                    </div>

                </div>
            </div>

            <div class="form_group_bookcover">
                <div class="form_item_header">
                    <div class="header">
                        <b> Bookcover</b>
                    </div>
                </div>
                <div class="imgBookcover">
                    <img src="https://d30womf5coomej.cloudfront.net/resources/images/some/tapamon-bookcover.png" alt="book-cover" width="396">
                </div>

                <div class="item_info_bookcover">

                    <div class="form_bookcover">
                        <input id="img_loadbookcover" asp-for="Bookcover" class="input_bookcover" type="file" multiple onchange="loadFilebookCover(event)">
                        <img id="img-bookcover-recent" src="@ViewBag.recentBookcover" alt="" />
                        <label class="btn_upload_bookcover" for="img_loadbookcover">
                            Upload
                        </label>

                    </div>
                </div>
            </div>


            <div class="form_group_banner">
                <div class="form_item_header">
                    <div class="header">
                        <b> Banner</b>
                    </div>
                </div>
                <div class="item_info_banner">

                    <div class="form_banner">
                        <input id="img_loadbanner" asp-for="Banner" class="input_banner" type="file" multiple onchange="loadFilebookBanner(event)">
                        <img id="img-banner-recent" src="@ViewBag.recentBanner" style="width: 100%; height: 100%; margin-bottom: 10px; " alt="" />
                        <label class="btn_upload_banner" for="img_loadbanner">
                            Upload
                        </label>
                    </div>
                </div>
            </div>

            <div class="form_checkboxList" style="margin-top: 260px;">
                <div class="form_item_checkbox">
                    <b> Genres </b>
                </div>
                <div class="checkbox" style="margin-top: 23px; margin-left: 85px ">
                    @*@foreach (var item in Model.genres)
                    {
                        <input type="hidden" asp-for="@item.Value" />
                        <input asp-for="@item.Selected" /> @item.Text  
                       }*@
                     @for (int i = 0; i < Model.genres.Count; i++)
                    {   
                         
                        <input type="hidden" asp-for="@Model.genres[i].Value" />
                        <input asp-for="genres[i].Selected" /> @Model.genres[i].Text
                       
                    }
                </div>
                <div class="btn_submit" style="margin-left: 179px; margin-top: 24px; ">
                    <input type="submit" value="Save" class="btn btn-primary" style="width: 244px; " />
                </div>
            </div>

        </form>
    </section>
</main>
<script>

    var loadFileThumbnail = function (event) {
        var output = document.getElementById('img-recent');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src)
        }
    };
    var loadFilebookCover = function (event) {
        var output = document.getElementById('img-bookcover-recent');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src)
        }
    };
    var loadFilebookBanner = function (event) {
        var output = document.getElementById('img-banner-recent');
        output.style.height = "100%";
        output.style.width = "100%";
        output.style.margin = "0";
        output.style.marginBottom = "12px";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src)
        }
    };
</script>
