@model IEnumerable<Novel>

<nav class="level" style="margin-top:100px">
    <div class="level-left">
        <div class="control has-icons-left">
            <div class="select" id="mySelect">
                <select>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
            <span class="icon is-medium is-left">
                <i class="fas fa-globe"></i>
            </span>
        </div>
    </div>

    <div class="level-right is-flex-direction-row">

        <div class="level-item ">

            <a href="/novel/createnovels" class="button is-primary newSeriesbtn">

                <span class="icon">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </span>
                <span>New series</span>
            </a>



            <a  class="button is-primary addEpisodebtn">
                <span class="icon">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </span>
                <span href="@Url.Action("Create","Episode",new { })">Add Episode</span>
            </a>
        </div>
    </div>
</nav>
<table class="table is-striped">
    <thead>
        <tr>
            <th><abbr title="Episode">Episode</abbr></th>
            <th><abbr title="info">Thumbnail / Episode info</abbr></th>
            <th><abbr title="Status">Status</abbr></th>
            <th><abbr title="Actions">Actions</abbr></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    var loadData = function (id, pagination) {
        $.ajax({
            url: '@Url.Action("GetEpisodes", "Episode")',
            data: { 'id': id, 'pagination': pagination },
            dataType: "json",
            method: 'get',
            success: function (response) {
                var result = JSON.parse(response);
                var thumbnail = result["thumbnail"];
                var slug = result["episodes"][0]["Novel"]["Slugify"];
                console.log(result);
                var table = $("table tbody");
                if (result["episodes"].length != 0) {
                    reachEnd = false;
                    isdash = true;
                }
                else {
                    reachEnd = true;
                    isdash = false;
                }

                $(result["episodes"]).each(function (idx, value) {



                    table.append('<tr class="episode-info">' +
                        '<th style="width:50px"><p>' + value["EpisodeNumber"] + '</p></th>' +
                        '<td>'
                        + '<div class= "columns is-mobile .is-variable  is-4-tablet is-4-mobile ">' +
                        '<div class="column is-one-fifth">'
                        + '<div style = "width:50px;height:50px;margin-left: 30px;">'
                        + '<img src=' + thumbnail + ' alt="testNovel">'
                        + '</div>' +
                        '</div>'

                        + '<div class="column">'
                        + '<div >'
                        + '<a href="/novel/' + slug + '/episode/' + value["EpisodeNumber"] + '" style="    color: #000000; cursor: pointer;text - decoration: none;font - weight: 700;">' + value["Title"] + '</a>'
                        + '</div>'
                        + '</div>'
                        + '<div class="column"></div>' +
                        '</div>' +
                        '</td>'
                        + '<td>' + '</td>' // status here
                        + '<td>'
                        + '<div class="buttons are-small">'
                        + '<a class="button is-primary actionBtn-update" href="/Episode/Update/?id=' + value["Id"] + '">Edit</a>'
                        + '<a class="button is-danger actionBtn-delete" data-id="' + value["Id"] + '"><i class="far fa-trash-alt fa-2x"></i></a>'
                        + '</div>'
                        + '</td >'
                        + '</tr>');
                });
                 $('.actionBtn-delete').click(function () {
                        var button = $(this); //lay doi tuong la nut dang bam
                        var id = button.attr('data-id');
                        var tr = button.closest('.episode-info') //tim cai gan nhat voi no: closest
                        if (confirm("Episode will be deleted immediately and you can't undo this action. Are you sure you want to delete this?"))
                        {
                            $.ajax({
                                url: '@Url.Action("Delete", "Episode")',
                                data: { 'id': id },
                                type: "post",
                                success: function (reponse) {
                                    tr.remove();
                                }
                            });
         }

                    });

            }
        });

    }

    //$(document).ready(function () {
    //    $('select').trigger("change");
    //});
    var pagination;
    var isFirstLoadData;
        var reachEnd = false;
    isdash = false;
    $('select').change(function () {
        var novelId = $(this).val();
        var link = "/novel/" + novelId + "/Episode/Create";
        $(".addEpisodebtn").attr("href", link);
        isFirstLoadData = true;
        pagination = 1;
        if (isFirstLoadData && pagination == 1) {
            $("table tbody").empty();
            loadData($(this).val(), pagination++);
            isFirstLoadData = false;
            isdash = true;
        }

    });

        $(window).on("scroll", function () { // EVENT lang xuong bot
            var docHeight = $(document).height();
                console.log("aa");
            var winScrolled = $(window).height() + $(window).scrollTop();
            if ((docHeight - winScrolled) < 1 && (docHeight - winScrolled) != 0 && !reachEnd && isdash) {
                reachEnd = true;
                isdash = false;
                loadData($('select option:checked').val(),pagination++)
            }
        });

</script>