@model IEnumerable<Novel>

<section class="block" style="margin-top: 50px">
    <h1 class="block index-label">
        Sumary
    </h1>
    <nav class="level">
        <div class="level-item has-text-centered Sumary " style="margin-right: 10px">
            <div>
                <p class="heading">Total Likes</p>
                <p class="title">@ViewBag.TotalLikes</p>
            </div>
        </div>
        <div class="level-item has-text-centered Sumary" style="margin-right: 10px">
            <div>
                <p class="heading">Total Views</p>
                <p class="title">@ViewBag.TotalViews</p>
            </div>
        </div>
        <div class="level-item has-text-centered Sumary " style="margin-right: 10px">
            <div>
                <p class="heading">Total Comments</p>
                <p class="title">@ViewBag.TotalTotalComments</p>
            </div>
        </div>
    </nav>
</section>
<section class="block">

    <div class="columns">
        <h1 class=" column is-2 block index-label ">
            Series(@Model.Count())
        </h1>
        <div class="column is-2 is-offset-4 is-narrow">
            <a href="/novel/createnovels" class="button is-primary btn-label newSeries">
                <span class="icon">
                    <i class="fa fa-book"></i>
                </span>
                <span>New series</span>
            </a>
        </div>
    </div>
    <div class="columns is-desktop">
        <div class="column is-three-quarters-widescreen  is-full-tablet">
            @foreach (var novel in Model)
            {
                <partial name="_novel" model="novel" />
            }
        </div>
    </div>
</section>
<script>
     $(document).ready(function () {
        $(".toEpisode").on("click", function () {
            var id = $(this).attr("data-novel-id");

            $.ajax({
                type: "POST",
                url: "@(Url.Action("GetEpDashboard", "Dashboard"))",
                success: function (data) {
                    $(".dashboard").html('');
                    $(".dashboard").html(data);
                    if (id != undefined) {
                        $("select").val(id).trigger("change");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Episodes.');
                }
            });
        });
    });
</script> 