@{
    Layout = "~/Views/Shared/_Layoutpage.cshtml";

}
<a class="uk-button uk-button-default" onclick="loadPopUp('test-novel')" href="#modal-container" uk-toggle>Open Modal</a>
<script>
    var isLike = false;
    var isSubcribe = false;
    var totalLikes = 0;
    var totalSubcribers =0;
    var handleLike = function (id) {
        console.log(isLike);
        if (isLike) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("UnLike", "Novel")",
                data: {
                    'id': id
                },
                success: function (data) {
                    isLike = false;
                    $("#likeButton").removeClass("is-info").addClass("like").html("Like");
                    $(".totalLikes").html(newFormat(--totalLikes) + " likes");

                }
            });

        } else {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Dolike", "Novel")",
                data: {
                    'id': id
                },
                success: function (data) {
                    isLike = true;
                    $("#likeButton").removeClass("like").addClass("is-info").html("Like");
                    $(".totalLikes").html(newFormat(++totalLikes) + " likes");

                }
            });
        }
    }
    var handleSubcribe = function (id) {
        console.log(isSubcribe);
        if (isSubcribe) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("UnSubscription", "Novel")",
                data: {
                    'id': id
                },
                success: function (data) {
                    isSubcribe = false;
                    $("#subcribeButton").removeClass("is-black").addClass("subcribe").html("Subcribe");
                    $(".totalSubcribers").html(newFormat(--totalSubcribers) + " Subcribers");
                }
            });

        } else {
            $.ajax({
                type: "GET",
                url: "@Url.Action("DoSubscription", "Novel")",
                data: {
                    'id': id
                },
                success: function (data) {
                    isSubcribe = true;
                    $("#subcribeButton").removeClass("subcribe").addClass("is-black").html("Subcribed");
                    $(".totalSubcribers").html(newFormat(++totalSubcribers) + " Subcribers");
                }
            });
        }
    }
    var pagination = 1;
    var NovelId;
    var thumbnail;
    var slug;
    var modal_scrollTop;
    var modal_scrollHeight;
    var modal_innerHeight;
    var reachEnd = false;
    var loadPopUp = function(slug) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("getBySlug", "Novel")",
            data: {
                'slug': slug
            },
            dataType: "json",
            success: function (data) {
                var result = JSON.parse(data);
                console.log(result);
                var profile = result["novel"]["Account"]["Profile"];
                var episodes = result["novel"]["Episodes"];
                thumbnail = result["novel"]["Thumbnail"];
                slug = result["novel"]["Slugify"];
                console.log(slug);
                totalLikes = result["totalLikes"];
                totalSubcribers = result["totalSubcribers"];
                isLike = result["isLike"];
                isSubcribe = result["isSubcribe"];
                if (isLike) {
                    $("#likeButton").removeClass("like").addClass("is-info").html("Like");
                } else
                    $("#likeButton").removeClass("is-info").addClass("like").html("Like");
                if (isSubcribe) {
                    $("#subcribeButton").removeClass("subcribe").addClass("is-black").html("Subcribed");
                } else
                    $("#subcribeButton").removeClass("is-black").addClass("subcribe").html("Subcribe");

                $(".bookTitle").attr("href", '/novel/' + slug + '/episode/' + episodes[0]["EpisodeNumber"]).addClass("is-black");
                $('.banner').css('background-image', 'url(' + result["novel"]["Banner"] + ')');
                $(".bookCover").attr("src", result["novel"]["BookCover"]);
                $(".bookTitle").html(result["novel"]["Title"] );
                $(".totalViews").html(newFormat(result["totalViews"]) + " views");
                $(".totalSubcribers").html(newFormat(totalSubcribers) + " subcribers");

                $(".totalLikes").html(newFormat(totalLikes) + " likes");

                $(".creName-top").attr("href", "/Profile/Getprofile/" + profile["Id"]);
                $(".creThumb").attr("href", "/Profile/Getprofile/" + profile["Id"]);

                $(".creThumb img").attr("src", profile["Avartar"]);
                $(".creName-top").html(profile["DisplayName"]);
                $(".creDe-body").html(profile["Description"]);
                $(".novDe-body").html(result["novel"]["Description"]);
                $(".EpList").empty();
                $(episodes).each(function (idx, value) {
                    $(".EpList")
                        .append('<li>' +
                        '<a href="/novel/' + slug + '/episode/' + value["EpisodeNumber"]+'" class="popUpEpiInfo">' +
                                '<div class="EpThumb">' +
                                    '<img src = "' + thumbnail + '" style = "width:100%; height:100%" alt = "Alternate Text" />' +
                                '</div>' +
                                '<div class="EpInfo">' +
                                     '<p class="scene">' +'Episode'+ value["EpisodeNumber"]  + ' </p>' +
                                            '<p class="title"><span class="title__body">' + value["Content"]  +'</span></p>' +
                                            '<p class="additional"><span>' + newFormat(value["Views"])+' views</span></p>' +
                                        '</div>' +
                                  '</li>');
                });
                reachEnd = false;
                pagination = 1;
            }
        });
    };

    var scrollHandle = function () {
        $("#modal-container").on("scroll", function () {
            modal_scrollTop = Math.floor($('#modal-container').scrollTop());
            modal_scrollHeight = Math.floor($('#modal-container').prop('scrollHeight'));
            modal_innerHeight = Math.floor($('#modal-container').innerHeight());
            console.log(modal_scrollTop);
            console.log(modal_scrollHeight);
            console.log(modal_innerHeight);
            console.log("---------------");

            // Bottom reached:
            if ((modal_scrollTop + modal_innerHeight) >= (modal_scrollHeight-1) && !reachEnd) {
                console.log("reach end");
                reachEnd = true;

                callajax(++pagination);
            }

        });

    }

    var newFormat = function(labelValue) {

        // Nine Zeroes for Billions
        return Math.abs(Number(labelValue)) >= 1.0e+9

        ? (Math.abs(Number(labelValue)) / 1.0e+9).toFixed(2) + "B"
            // Six Zeroes for Millions
        : Math.abs(Number(labelValue)) >= 1.0e+6

        ? (Math.abs(Number(labelValue)) / 1.0e+6).toFixed(2) + "M"
                // Three Zeroes for Thousands
        : Math.abs(Number(labelValue)) >= 1.0e+3

        ? (Math.abs(Number(labelValue)) / 1.0e+3).toFixed(2) + "K"

        : Math.abs(Number(labelValue));

    };

    var callajax = function (pagination) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEpisodes", "Episode")",
            data: {
                'Id': 1,   // fix this
                'pagination': pagination
            },
            dataType: "json",
            success: function (response) {
                var result = JSON.parse(response);
                console.log(result);

                var s = result["episodes"][0]["Novel"]["Slugify"];
                $(result["episodes"]).each(function (idx, value) {
                    $(".EpList")
                        .append('<li>' +
                        '<a href="/novel/' + s + '/episode/' + value["EpisodeNumber"] + '" class="popUpEpiInfo">' +
                            '<div class="EpThumb">' +
                            '<img src = "' + thumbnail + '" style = "width:100%; height:100%" alt = "Alternate Text" />' +
                            '</div>' +
                            '<div class="EpInfo">' +
                            '<p class="scene">' + 'Episode' + value["EpisodeNumber"] + ' </p>' +
                            '<p class="title"><span class="title__body">' + value["Content"] + '</span></p>' +
                            '<p class="additional"><span>' + newFormat(value["Views"]) + ' views</span></p>' +
                            '</div>' +
                            '</li>');

                });
                if (result["episodes"].length == 0) reachEnd = true;
                else reachEnd = false;
            }

        });
    }
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<div id="modal-container" onscroll="scrollHandle()" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title"></h2>
        <div class="columns is-mobile">
            <div class="column is-two-thirds">
                <div class="columns banner" style="height: 248px;  background-repeat: no-repeat; background-size: cover; background-position: center center; ">
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="columns  is-mobile">
                    <div class="column is-one-third">
                        <figure class="popUp">
                            <img class="bookCover" style="width:100%;height:100%">
                        </figure>
                    </div>
                    <div class="column">
                        <div class="is-flex is-flex-direction-column">
                            <div class="is-flex is-flex-wrap-wrap">
                                <a href="#" class="is-size-3 has-text-left has-text-weight-bold bookTitle"></a>
                            </div>
                            <div class="is-flex">
                                <p style=" flex-shrink: 0;">Comic</p>
                                <span style=" flex-shrink: 0; padding: 0px 3px 0px"> - </span>
                                <p class="totalViews" style=" flex-shrink: 0;"></p>
                                <span style=" flex-shrink: 0; padding: 0px 3px 0px"> - </span>
                                <p class="totalSubcribers" style=" flex-shrink: 0;"></p>
                                <span style=" flex-shrink: 0; padding: 0px 3px 0px"> - </span>
                                <p class="totalLikes"></p>
                            </div>
                            <div class="is-flex buttons are-medium">
                                <button id="subcribeButton" class="button subcribe" onclick="handleSubcribe(1)" style="flex-basis:30%">Subcribe</button> <-->fix this</-->
                                <button id="likeButton" class="button like " onclick="handleLike(1)" style="flex-basis:30%">Like</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Episode List*@
                <div class="columns" style="margin-top:40px">
                    <div class="column">
                        <article class="message is-dark">
                            <div class="message-header">
                                <p>Dark</p>
                            </div>
                            <div class="message-body" style="padding:0px">
                                <ul class="EpList" style=" list-style: none outside none; margin: 0; padding: 0;">
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="columns">
                    <div class="column">
                        <article class="message">
                            <div class="message-header">
                                <p>Creator</p>
                            </div>
                            <div class="message-body">

                                <div class="is-flex">
                                    <div class="is-flex creInfo-top">
                                        <a href="#" class="creThumb" style="text-">
                                            <img alt="Alternate Text" style="border-radius: 50% !important" />
                                        </a>
                                        <a href="#" class="creName-top"></a>
                                    </div>
                                </div>
                                <p class="creDe-body">
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <article class="message">
                            <div class="message-header">
                                <p>Details</p>
                            </div>
                            <div class="message-body">
                                <p class="novDe-body">
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>