@using WebTruyenTranhDataAccess.Models
@inject SignInManager<Account> signinManager
@model WebTruyenTranhDataAccess.Models.Episode
@{
    ViewData["Title"] = "Episode";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
    var novel = (WebTruyenTranhDataAccess.Models.Novel)ViewBag.novel;

}
<link href="~/css/profile.css" rel="stylesheet" />
<!-- Sidebar  -->

<nav id="sidebar">
    <div id="dismiss">
        <i class="icon-times"></i>
    </div>
    <div class="sidebar-header">
        <!---book cover-->
        <img src="@novel.BookCover" class="book-cover" alt="book cover" />
        <!----thumb image-->
        <div class="row">
            <div class="col-sm">
                <img src="@novel.Thumbnail" class="thumb-image" alt="thumbnail" />
            </div>
            <div class="col-sm" style="top:20px;">
                <strong class="number-views">@Model.Views</strong>
                <span class="number-label">Views <i class="icon-eye" style="color: #e91e63c7;cursor: pointer;background: #e91e6300;"></i></span>
            </div>
            <div class="col-sm" style="top:20px;">
                <strong class="number-subcribers">@novel.LikeCount</strong>
                <span class="number-label">
                    Likes
                    <button type="submit" style="border: none; cursor: pointer;background: #e91e6300;">
                        <i class="icon-heart" style="color: #e91e63c7;"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class=""><h3 class="name mb-4">@novel.Title</h3></div>
    </div>
    <!--------DESCRIPTION-SUBCRIBERS------->
    <div class="bio">
        @novel.Description
    </div>

    <!--------DESCRIPTION - SUBCRIBERS------->
    <!--------GENRES------->
    <div class="sidebar-box ftco-animate">
        <h3>#Genres</h3>
        <div class="tagcloud">
            @foreach (var item in novel.Genres)
                        {
            <a href="/novel/getnovels?search=@item.GenreName" class="tag-cloud-link">@item.GenreName</a>
                        }
        </div>
    </div>

    <!---episode-list-->
    <div class="activity">
        <div class="counter d-flex">
            <div class="col">
                <strong class="number-episodes">@ViewBag.epcount</strong> Episodes
            </div>
            <div class="col">
                <a href="#"><i class="icon-sort-amount-asc"></i></a><!--------sort------->
            </div>
        </div>
        <!---episode number-list-->
        <div class="side-inner episode-list">
            <ul class="list-unstyled">
                @*<li class="episode-list-number">
                        <a href="#" class="episode-number">
                            <img class="mr-3" style=" height:17%; width: 17%; float: left;" src="@novel.Thumbnail" alt="thumb image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">@novel.Title , Part @Model.EpisodeNumber</h5>
                                <p>Episode: @Model.EpisodeNumber</p>
                            </div>
                        </a>
                    </li>*@

            </ul>
        </div>
        <!------------------->
    </div>
</nav>
<!--end nav-->
            <!-- Page Content  -->
<div class="page-content">
    <div class="col-lg-12">
        <div class="title-header">
            <div class="row" style="height:60px;">
                <div class="col-2" style="height:80px;">
                    <div class="side-bar-eplist" style="text-align: center;margin: 20px;">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="icon-align-left"></i>
                            <span>Episode List</span>
                        </button>
                    </div>
                </div>
                <div class="col-7" style="height:80px;">
                    <p class="title-episode" style="text-align: center;margin:15px;">@Model.Title, Part @Model.EpisodeNumber</p>
                </div>
                <div class="col-3" style="height:80px;">
                    <p class="date" style="float: right; margin: 60px 20px;">@novel.LastestUpdate</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="content-viewer">
            @Html.Raw(Model.Content)
        </div>
        <!-----COMMENT LIST---->
        <hr />
        @if (signinManager.IsSignedIn(User))
        {
            <div class="postcomment">
                <form method="post" asp-action="Postcomment" asp-controller="Episode" asp-route-ReturnUrl="@Context.Request.Path" asp-route-Id="@Model.Id">
                    @Html.AntiForgeryToken()
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" maxlength="1000" name="comment" placeholder="Add a comment..."></textarea>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button">Comment</button>
                                </p>
                            </div>
                        </div>
                    </article>
                </form>
            </div>
        }
        <div class="comment-content cmt-pagination" id="1"style="padding-bottom:25%"></div>
    </div>
</div>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script>
         var callajax = function ( pagination) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetComments", "Episode")",
            data: {
                'Id':@Model.Id ,
                'pagination': pagination
            },
            dataType: "json",
            success: function (data) {
                var result = JSON.parse(data);
                $(result['listcmt']).each(function (idx, cmt) {
                    var data_mss =
                        '<article class="media" style="margin :15px;">' +
                        '   <figure class="media-left">' +
                        '   <p class="image is-48x48">' +
                        ' <a href="' + '/Profile/Getprofile/' + cmt.Account.Profile.Id + '">' +
                        '<img src="' + cmt.Account.Profile.Avartar + '" style = "height:100%; width:100%; border-radius:50%">' +
                        ' </a > ' +
                        '  </p>' +
                        '  </figure>' +
                        ' <div class="media-content">' +
                        '  <div class="content">' +
                        '   <p>' +
                        ' <a href=/Profile/Getprofile/' + cmt.Account.Profile.Id + '> <strong>' + cmt.Account.Profile.DisplayName + '</strong> </a>';
                    data_mss += ' <br>' +
                        cmt.Content +
                        '   <br>' +
                        '<small>' + cmt.CommentDate + '<a class="button profile-button-edit" id=' + cmt.Id + ' onclick="btnloadformreply(' + cmt.Id + ')" style="width: 60px; height:26px; margin-left:5px; text-decoration:none; font-size:13px; color:white;">Reply</a></small>' +
                        ' </p>' +
                        ' </div>' +
                        '<form class="reply-form" method="post" action=/Episode/ReplyComment/' + cmt.Id + '?ReturnUrl=' + window.location.href + ' id=replyform-' + cmt.Id + ' >' +
                        ' </form>';
                    if (cmt.ChildComments.length != 0) {
                        $(cmt.ChildComments).each(function (index, childcmt) {
                            data_mss += ' <article class="media" style="margin :10px;">' +
                                '<figure class="media-left">'+
                                '     <p class="image is-48x48">' +
                                ' <a href="' + '/Profile/Getprofile/' + childcmt.Account.Profile.Id + '">' +
                                    '<img src="' + childcmt.Account.Profile.Avartar + '" style = "height:100%; width:100%; border-radius:50%">' +
                                ' </p>' +
                                ' </figure>' +
                                '  <div class="media-content">' +
                                '   <div class="content">' +
                                '<p>' +
                                ' <a href=/profile/Getprofile/' + childcmt.Account.Profile.Id + '> <strong>' + childcmt.Account.Profile.DisplayName + '</strong> </a>';

                            data_mss += '<br>' +
                                childcmt.Content +
                                '  <br>' +
                                '   <small>' + childcmt.CommentDate + '</small>' +
                                '</p>' +
                                '</div>' +
                                '</div>' +
                                ' </article>';
                        });
                    }
                    data_mss = data_mss + ' </div>' +
                        '</article>';
                    $('.comment-content').append(data_mss);
                });
            }
        });
        };
            function btnloadformreply(id) {
        @* rm cai form partical view *@
        $('.replyform-particalview').remove();
        var id = id;
        $.get( '@Url.Action("reply","profile" )', function(data) {
            $('#' +'replyform-' + id).html(data);
            });
        }
        $(document).ready(function () {
        var pagination = $('.cmt-pagination').attr('id');

        $.ajax({
            type: "POST",
            url: "/Episode/GetEpisodes/@novel.Id",
            dataType: "json",
            success: function (data) {
                var result = JSON.parse(data);
                console.log(Object.keys(result));
                $(result["$values"]).each(function (idx, ep) {
                    $('.list-unstyled').append(
                        '   <li class="episode-list-number">' +
                        '  <a href="' + '/novel/' + ep.Novel.Slugify + '/episode/' + ep.EpisodeNumber+'" class="episode-number">' +
                        ' <img class="mr-3" style=" height:55px; width: 50px; float: left;" src="' + ep.Novel.Thumbnail + '" alt="thumb image">' +
                        ' <div class="media-body">' +
                        ' <h5 class="mt-0 mb-1">' + ep.Title + ', Part' + ep.EpisodeNumber + '</h5>' +
                        '  <p>Episode:' + ep.EpisodeNumber + '</p>' +
                        '</div>' +
                        '</a>' +
                        ' </li>'    
                    );
                });
            }
        });
            callajax(pagination);
            $(window).on("scroll", function () { // EVENT lang xuong bot
                var docHeight = $(document).height();
                var winScrolled = $(window).height() + $(window).scrollTop();
                if ((docHeight - winScrolled) < 1 && (docHeight - winScrolled)!=0) {
                    $('.cmt-pagination').attr("id", Number(pagination) + 1);
                    pagination = $('.cmt-pagination').attr("id");
                    callajax( pagination);
                }
            });

            }

        );


    </script>

